<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      <i>{{trail.trail_name}}</i>, {{trail.city}}, {{trail.state}}
    </p>
    <p class="subtitle">
    </p>
  </div>
</section>

<section class="mx-2">
<article class="mb-4">
  <div class="trail-name">
    <p class="is-size-4 has-text-centered">{{trail.description}}</p>
  </div>
  <div class="meta">
    by: {{trail.user.username}} on {{format_date trail.created_at}}<br>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="button is-success is-outlined">add comment</button>
  </div>
</form>
{{/if}}

{{> comments trail.comments}}
</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}